# FastAPI Production Backend URL (e.g. Render)
VITE_API_URL=https://smart-queue-ai-backend.onrender.com

# WebSockets Production URL (e.g. Render wss://)
VITE_WS_URL=wss://smart-queue-ai-backend.onrender.com/ws
